.goal-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: top 0.7s ease-out;
}

.goal-container.goal-sent {
  top: 40px
}

.goal-input {
  width: 300px;
  height: 33px;
  border: 1px solid black;
  transition: width 0.7s ease-out;
}

.goal-input.goal-sent {
  width: calc(600px);
}

.goal-button {
  margin-left: 10px;
  height: calc(33px + 2px);
  border: 1px solid black;
  visibility: visible;
}

.goal-button.goal-sent {
  visibility: hidden;
}

.messages-list {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 80px;
}

.markdown-content,
.function-call {
  padding: 2em;
  margin-bottom: 1em;
}

.bottom-spacing {
  height: 80px;
}

.chat-container {
  position: fixed;
  height: 40px;
  bottom: 30px;
  width: 600px;
  display: flex;
  flex-direction: row;
  background-color: #f0f0f0;
  left: 50%;
  transform: translateX(-50%);
}

.chat-input {
  flex: 1;
  margin-right: 10px;
}